.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

.roboto-tebal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
}

.roboto-light-italic{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; 
  font-style: italic;
}
.roboto-tebal-italic{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: italic;
}
@font-face {
    font-family: orbitron;
    src: url(font/Orbitron-Bold.ttf);
}
p{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: mormal;
}

h1{
    font-family: orbitron;
    
}
body{
    background: linear-gradient(31deg,rgba(47, 92, 99, 1) 0%, 
                    rgb(9, 10, 10) 53%, 
                    rgba(5, 109, 150, 1) 100%);
    background-repeat: no-repeat;
}

.main{
 padding-block: 1%;
}

.navbar {
            transition: background-color 0.4s ease-in-out, padding 0.4s ease-in-out;
        }

.bg-custom{
    background-color: rgb(3, 48, 63);
}

        /* 1. Bikin Keyframes (Gerakannya) */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px); /* Mulai dari posisi agak bawah */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Kembali ke posisi asal */
    }
}

/* 2. Bikin Class untuk dipasang di HTML */
.fade-in {
    opacity: 0; /* Wajib: biar pas loading awal ga kelihatan dulu */
    animation: fadeInUp 1s ease-out forwards;
}

/* 3. Bikin Delay (Opsional: Biar munculnya gantian/nongol satu-satu) */
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }

